<nav class="top-bar">
  <ul class="title-area">
    <!-- Title Area -->
    <li class="name">
      <h1>
        <%= link_to("Flirt", root_path) %>

      </h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <ul class="left">
          <li><%= link_to('Home', root_path) %></li>


    </ul>


      <!--


    </ul> -->

    <ul class="right">
      <li>Hi</li>
    </ul>
  </section>
</nav>
<br>