<div class="row">
  <div class="three columns">
    <h1>Todo</h1>
  </div>
  <div class="nine columns">
    <ul class="nav-bar right">
      <li><%= link_to('Home', root_path) %></li>
      <li><%= link_to('All Users', users_path) %>
      <%== intellinav %>
    </ul>
  </div>
</div>
